<section id="footer">
  <div class="footer container">
    <div class="brand">
      <h1><span>K</span>ishor <span>C</span>handra</h1>
    </div>
    <h2>Code • Creativity • Performance</h2>
    <div class="social-icon">
  <div class="social-item">
    <a href="https://github.com/" target="_blank">
      <img src="https://img.icons8.com/bubbles/100/000000/github.png" />
    </a>
  </div>
  <div class="social-item">
    <a href="https://www.linkedin.com/feed/" target="_blank">
      <img src="https://img.icons8.com/bubbles/100/000000/linkedin.png" />
    </a>
  </div>
 </div>

    <p>Copyright © 2025 Kishor Chandra. All rights reserved</p>
  </div>
</section>
